<%- include('partials/header') %>
  <section class="app-section active">
    <h2 class="section-title">حدث خطأ</h2>
    <p class="section-desc"><%= message %></p>
    <p><a href="/">العودة للرئيسية</a></p>
  </section>
<%- include('partials/footer') %>
